* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*estilos de hader*/
body {
  font-family: "Josefin Sans";
  background-color: beige;
}
@font-face {
  font-family: "AnotherDay";
  src: url("../assets/font/AnotherDay.ttf");
}
@font-face {
  font-family: "Amstagram";
  src: url("../assets/font/Amstagram.ttf");
}
body a {
  color: black;
  font-weight: 600;
  text-decoration: none;
  line-height: 2rem;
}
body li {
  text-align: center; /*centrado de texto*/
  margin-left: 2%;
  display: inline-block;
  width: auto;
  position: relative;
  font-size: 2rem;
}
body #grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto;
}
body #grid-container .header {
  grid-area: header;
}
body #grid-container .header .parallax {
  height: 100vh;
  width: auto;
  /* Crear el efecto parallax al scrollear */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box modeling */
  padding: 50px 30px;
  margin-bottom: 50px;
  padding: 2%;
}
body #grid-container .header .parallax #cabecera {
  background-color: rgb(213, 255, 134) !important;
  padding: 1%;
  position: sticky;
  top: 20px;
  border-radius: 2rem;
  margin: 20px;
}
body #grid-container .header .parallax #cabecera .container-fluid {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}
body #grid-container .main {
  grid-area: main;
}
body #grid-container .main .grid {
  display: grid;
  grid-template-areas: "section" "section" "aside";
  grid-template-rows: auto auto auto;
}
body #grid-container .main .grid .section {
  grid-area: section;
}
body #grid-container .main .grid .section h1 {
  text-align: center;
}
body #grid-container .main .grid .section h2 {
  font-family: "Brush Script MT";
  font-size: xx-large;
  text-align: center;
}
body #grid-container .main .grid .section .art {
  margin: 5%;
  background-color: bisque;
  border-radius: 8rem;
  padding: 7%;
  text-align: center;
  overflow: hidden;
  display: block;
  text-align: center;
}
body #grid-container .main .grid .section .art h3 {
  font-family: "Brush Script MT";
  font-size: xx-large;
  text-align: center;
}
body #grid-container .main .grid .section .art .container {
  display: flex;
  flex-direction: column-reverse;
}
body #grid-container .main .grid .section .art .container div .image {
  width: 85%;
  margin: 1.5%;
  border-radius: 11rem;
}
body #grid-container .main .grid .section .art .container .text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
body #grid-container .main .grid .section div .carousel-inner div .exp {
  margin: 5%;
  background-color: hsl(235, 76%, 83%);
  border-radius: 7rem;
  padding: 8%;
  text-align: center;
  justify-content: center;
  overflow: inherit;
}
body #grid-container .main .grid .section div .carousel-inner div .exp #carr {
  width: 45%;
  border-radius: 4rem;
}
body #grid-container .main .grid .aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  margin: 1%;
}
body #grid-container .main .grid .aside .ass {
  padding-top: 12.5%;
  padding-right: 4%;
  border-radius: 3rem;
}
body #grid-container .main .grid .aside .ass .ass1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #grid-container .main .grid .aside .ass .ass1 li #lat-bar {
  font-size: small;
}
body #grid-container .main {
  grid-area: main;
}
body #grid-container .main .section {
  grid-area: section;
}
body #grid-container .main .section .contacto {
  margin: 5%;
  background-color: bisque;
  border-radius: 8rem;
  padding: 7%;
  text-align: center;
  overflow: hidden;
  display: block;
  text-align: center;
}
body #grid-container .main .section .contacto textarea {
  resize: vertical;
  width: 66%;
}
body #grid-container .main .aside {
  grid-area: aside;
}
body #grid-container .main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-direction: inherit;
}
body #grid-container .main .section {
  grid-area: section;
  display: inline-flexbox;
  justify-content: center;
}
body #grid-container .main .section h2 {
  font-size: 50px;
}
body #grid-container .main .section .art {
  margin: 5%;
  background-color: bisque;
  border-radius: 8rem;
  padding: 7%;
  text-align: center;
  overflow: hidden;
  display: block;
  text-align: center;
}
body #grid-container .main .section .art h3 {
  font-family: "Brush Script MT";
  font-size: xx-large;
  text-align: center;
}
body #grid-container .main .section .art .container div .image {
  width: 85%;
  margin: 1.5%;
  border-radius: 11rem;
}
body #grid-container .main .section .art .container div iframe {
  border-radius: 2rem;
}
body #grid-container .main .aside {
  grid-area: aside;
}
body #grid-container .main {
  grid-area: main;
}
body #grid-container .main .section {
  grid-area: section;
}
body #grid-container .main .section .wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}
body #grid-container .main .section .wrapper .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body #grid-container .main .section .wrapper .cols .col {
  width: 100%;
  margin: 1rem;
  cursor: pointer;
}
body #grid-container .main .section .wrapper .cols .col .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
body #grid-container .main .section .wrapper .cols .col .container:hover .front {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #grid-container .main .section .wrapper .cols .col .container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #grid-container .main .section .wrapper .cols .col .container .front {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #grid-container .main .section .wrapper .cols .col .container .front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
body #grid-container .main .section .wrapper .cols .col .container .front .inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  justify-content: center;
}
body #grid-container .main .section .wrapper .cols .col .container .front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
body #grid-container .main .section .wrapper .cols .col .container .front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}
body #grid-container .main .section .wrapper .cols .col .container .front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}
body #grid-container .main .section .wrapper .cols .col .container .back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body #grid-container .main .section .wrapper .cols .col .container .back .inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
  justify-content: center;
}
body #grid-container .main .aside {
  grid-area: aside;
}
body #grid-container .main {
  grid-area: main;
}
body #grid-container .main .section {
  grid-area: section;
  text-align: center;
  padding: 5%;
}
body #grid-container .main .aside {
  grid-area: aside;
}
body #grid-container .footer {
  grid-area: footer;
  padding: 2%;
  display: block;
  text-align: center;
}
body #grid-container .footer .buttons {
  min-width: auto;
  display: flex;
  justify-content: space-evenly;
}
body #grid-container .footer .buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}
body #grid-container .footer .buttons a:hover {
  transform: scale(1.2);
}
body #grid-container .footer .fot {
  display: flex;
  justify-content: center;
}
body #grid-container .footer .fot .arriba {
  margin-top: 7%;
  width: 80px;
  height: 70px;
  margin-bottom: 3%;
  color: #f1f1f1;
  background-color: #314652;
  border-radius: 23px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: larger;
  align-items: center;
}
@media only screen and (max-width: 300px) {
  body #grid-container .parallax {
    height: 250vh;
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  body #grid-container .parallax {
    height: 200vh;
    width: auto;
  }
}
@media only screen and (max-width: 576px) {
  body #grid-container .parallax {
    height: 150vh;
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  body #grid-container {
    /* Imagen de fondo elegida */
  }
  body #grid-container #p1 {
    background-image: url("../assets/img/header2-1.jpg");
  }
  body #grid-container #p2 {
    background-image: url("../assets/img/header13.jpg");
  }
  body #grid-container #p3 {
    background-image: url("../assets/img/header20.jpg");
  }
  body #grid-container #p4 {
    background-image: url("../assets/img/header15.jpg");
  }
  body #grid-container #p5 {
    background-image: url("../assets/img/header14.jpg");
  }
  body #grid-container .parallax {
    height: 100vh;
    width: auto;
  }
}
@media only screen and (min-width: 768px) {
  body #grid-container {
    /*------------------grids aplicado al main--------------*/
    /* Imagen de fondo elegida */
  }
  body #grid-container .grid {
    display: grid;
    grid-template-areas: "none section aside" "none section aside" "none section aside";
    grid-template-columns: 1fr 5fr 1.5fr;
    grid-template-rows: auto auto auto;
    column-gap: 2.5%;
  }
  body #grid-container .section {
    grid-area: section;
  }
  body #grid-container .aside {
    grid-area: aside;
  }
  body #grid-container .exp { /*--------------configuracion del carrusel-----------------*/
    margin: 5%;
    display: flex;
    flex-direction: row;
    background-color: hsl(235, 76%, 83%);
    border-radius: 7rem;
    padding: 8%;
    text-align: center;
    justify-content: center;
    overflow: inherit;
  }
  body #grid-container #p1 {
    background-image: url("../assets/img/header2.jpg");
  }
  body #grid-container #p2 {
    background-image: url("../assets/img/header13.jpg");
  }
  body #grid-container #p3 {
    background-image: url("../assets/img/header14.jpg");
  }
  body #grid-container #p4 {
    background-image: url("../assets/img/header15.jpg");
  }
  body #grid-container #p5 {
    background-image: url("../assets/img/header21.jpg");
  }
  body #grid-container .cont-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
