*{
    padding: 0;
    margin: 0;
}
@font-face {
	font-family: 'AnotherDay';
	src: url('../assets/font/AnotherDay.ttf');
}

@font-face {
	font-family: 'Amstagram';
	src: url('../assets/font/Amstagram.ttf');
}
body{
    font-family: 'Josefin Sans';
    background-color:beige;
}
a{
	color: black;
	font-weight: 600;
	text-decoration: none;
	line-height: 2rem;
}
h1{
    text-align: center;
}
h2, h3, h4{
    font-family:'Brush Script MT';
    font-size: xx-large;
    text-align: center;
}
li{
	text-align: center; /*centrado de texto*/
	margin-left: 2%;
	display: inline-block;
	width: auto;
	position: relative;
	font-size: 2rem;
}



footer{
    padding: 2%;
    display: block;
    text-align: center;
}

#cabecera{ /*estilo y propiedades de la cabecera*/
    padding: 1%;
    position: sticky;
    top: 20px;
    border-radius: 2rem;
    margin: 20px;
}

#carr{ /*imagenes de los clientes*/
    width: 45%;
    border-radius: 4rem;
}

.presentacion{
    text-align: center;
    padding: 5%;
}
.container{
    display: flex;
    flex-direction: column-reverse;

}
.image{   /*----configuracion de las imagenes de los destinos----*/
    width: 85%;
    margin:1.5%;
    border-radius:11rem;
}
.art, .contacto {  /*-------------configuracion de los articulos------------------*/
    margin:5%;
    background-color: bisque;
    border-radius: 8rem;
    padding: 7%;
    text-align: center;
    overflow: hidden;
    display: block;
    text-align: center;
}



.text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


/*--------------------Texto del area de contacto-------------------*/
textarea {
    resize: vertical;
    width: 66%;
}



iframe{ /*propiedades de los mapas*/
    border-radius: 2rem;
}

aside{
    display: flex;
    flex-direction: column;
    margin:1%;
}
.ass{/*contenedor aside*/
    padding-top:12.5%;
    padding-right:4%;
    border-radius: 3rem;
}.ass1{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#lat-bar{/*contfiguracion de la fuente del  aside*/
    font-size: small;
}



/* caruserl */

/*---------------------------redes sociales------------------------*/
.buttons {
	min-width: auto;
	display: flex;
	justify-content: space-evenly;
}
  
.buttons a {
	text-decoration: none;
	font-size: 28px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #314652;
	color: #f1f1f1;
	border-radius: 50%;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .4s ease-in-out;
}
  
.buttons a:hover {
	transform: scale(1.2);
}
.arriba{
	margin-top:7%;
	width: 80px;
	height: 70px;
	margin-bottom: 3%;
	color:#f1f1f1;
	background-color: #314652;
	border-radius: 23px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
	transition: all .4s ease-in-out;
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: larger;
	align-items: center;
}
.fot{
    display: flex;
    justify-content: center;
}
/*---fin---------------------------redes sociales------------------------*/



/*------------------------------grid general aplicado al body----------------------------*/


#grid-container{ 
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.header{
    grid-area: header;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
}
    /*------------------grids aplicado al main--------------*/
    .grid{ 
        display: grid;
        grid-template-areas: 
            "parallax"
            "section"
            "aside";
        grid-template-rows: auto auto auto;
    }
    .parallax{
        grid-area: parallax;
    }
    .section{
        grid-area: section;
    }
    .aside{
        grid-area: aside;
    }

/* parallax */

.parallax {
	/* Imagen de fondo elegida */
	background-image: url("../assets/img/header2-1.jpg");
	
	/* Definir un alto específico */
	height: 100vh;
	width: auto;

	/* Crear el efecto parallax al scrollear */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/* box modeling */
	padding: 50px 30px;
	margin-bottom: 50px;
    padding: 2%;

}


.exp{   /*--------------configuracion del carrusel-----------------*/
    margin:5%;
    background-color: hsl(235, 76%, 83%);
    border-radius: 7rem;
    padding: 8%;
    text-align: center;
    justify-content: center;
    overflow:inherit;
}
/*--------------------------------cards de promociones--------------------*/

.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
  }
  
  .cols{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
  }
  
  .container{
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  
  .front,
  .back{
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .back{
    background: #cedce7;
    background: -webkit-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg,  #cedce7 0%,#596a72 100%);
  }
  
  .front:after{
    position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
      display: block;
      opacity: .6;
      background-color: #000;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
      border-radius: 10px;
  }
  .container:hover .front,
  .container:hover .back{
      -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  }
  
  .back{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
  }
  
  .inner{
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
              transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
              perspective: inherit;
      z-index: 2;
  }
  
  .container .back{
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container .front{
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
  }
  
  .container:hover .back{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .container:hover .front{
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  .front .inner p{
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .front .inner p:after{
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
  }
  
  .front .inner span{
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
  }
  
  @media screen and (max-width: 64rem){
    .col{
      width: calc(33.333333% - 2rem);
    }
  }
  
  @media screen and (max-width: 48rem){
    .col{
      width: calc(50% - 2rem);
    }
  }
  
  @media screen and (max-width: 32rem){
    .col{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }

/*------------------------------------------------------------------------*/

@media screen and (min-width:768px){

    /*------------------grids aplicado al main--------------*/
    .grid{ 
        display: grid;
        grid-template-areas: 
            "parallax parallax parallax"
            "none section aside"
            "none section aside";
        grid-template-columns: 1fr 5fr 1.5fr;
        grid-template-rows: auto auto auto;
        column-gap: 2.5%;
    }
    .parallax{
        grid-area: parallax;
    }
    .section{
        grid-area: section;
    }
    .aside{
        grid-area: aside;
    }




    .exp{   /*--------------configuracion del carrusel-----------------*/
        margin:5%;
        display: flex;
        flex-direction: row;
        background-color: hsl(235, 76%, 83%);
        border-radius: 7rem;
        padding: 8%;
        text-align: center;
        justify-content: center;
        overflow:inherit;
    }
}

@media screen and (min-width:600px){ /*mobile-first & tablets*/
    /* parallax */

    .parallax {
        /* Imagen de fondo elegida */
        background-image: url("../assets/img/header2.jpg");
        
        /* Definir un alto específico */
        height: 100vh;
        width: auto;

        /* Crear el efecto parallax al scrollear */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        /* box modeling */
        padding: 50px 30px;
        margin-bottom: 50px;
        padding: 2%;

    }
    
}