.main{
    grid-area: main;

    //estilos de la pagina de nosotros//
    .section{
        grid-area: section;
            text-align: center;
            padding: 5%;
    }

    .aside{
        grid-area: aside;
    }
}