//funciones
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}




//estilos del body y del hader
/*estilos de hader*/
body{

    @font-face {
        font-family: 'AnotherDay';
        src: url('../assets/font/AnotherDay.ttf');
    }
    
    @font-face {
        font-family: 'Amstagram';
        src: url('../assets/font/Amstagram.ttf');
    }
    
    a{
        color: black;
        font-weight: 600;
        text-decoration: none;
        line-height: 2rem;
    }

    li{
        text-align: center; /*centrado de texto*/
        margin-left: 2%;
        display: inline-block;
        width: auto;
        position: relative;
        font-size: 2rem;
    }


    font-family: 'Josefin Sans';
    background-color:beige;

    #grid-container{

        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto;

        @import "header";

        @import "main-index";
        @import "main-contactos";
        @import "main-destinos";
        @import "main-promociones";
        @import "main-nosotros";

        @import "footer";
    
        @import "media-queris";
    }
}